#!/bin/sh -

DEV_ARCH="i686-unknown-elf"
export DEV_ARCH

AION_PATH="$(realpath $(dirname $1))"
export AION_PATH

BINUTILS_VERSION="2.44"
GCC_VERSION="15"

PATH="$AION_PATH/bin:/usr/x86_64-pc-linux-gnu/$DEV_ARCH/gcc-bin/$GCC_VERSION:/usr/x86_64-pc-linux-gnu/$DEV_ARCH/binutils-bin/$BINUTILS_VERSION:$PATH"
export PATH

CFLAGS="-fno-builtin -ffreestanding -nostdinc"
export CFLAGS

LDFLAGS="-nostdlib"
export LDFLAGS

C_INCLUDE_PATH="$AION_PATH/include:$AION_PATH/lib/include:$AION_PATH/sys/include"
export C_INCLUDE_PATH

C_PATH=""
export C_PATH

LIBRARY_PATH="$AION_PATH/lib"
export LIBRARY_PATH
