#!/bin/sh -

AION_PATH="$(realpath $(dirname $1))"
export AION_PATH
export SYSROOT=$AION_PATH

TARGETARCH="x86_64"
export TARGETARCH

SYSFLAGS="--sysroot=$SYSROOT"

CC="x86_64-none-elf-gcc $SYSFLAGS"
export CC

AR="x86_64-none-elf-ar"
export AR

LD="x86_64-none-elf-ld $SYSFLAGS"
export AR

C_INCLUDE_PATH="$AION_PATH/include:$AION_PATH/lib/include:$AION_PATH/sys/include"
export C_INCLUDE_PATH

CPP_INCLUDE_PATH="$C_INCLUDE_PATH"
export CPP_INCLUDE_PATH

C_PATH=""
export C_PATH

LIBRARY_PATH="$AION_PATH/lib"
export LIBRARY_PATH
